body {
  background-color: #fafafa;
  font-size: 14px;
}

.navbar {
  background: transparent !important;
  padding: 1rem;
  -webkit-transition: background 1s ease 0s;
  transition: background 1s ease 0s;
}

.solid {
  background: #231F5C !important;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 1s ease 0s;
  transition: background 1s ease 0s;
  -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
  transition: -webkit-box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
}

.img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url("/img/cover.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("/img/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  background-position: center;
}

.btn {
  color: white;
  -webkit-transition: border-radius 300ms;
  transition: border-radius 300ms;
  background-color: #A97E3E;
  border-color: #A97E3E;
  border-radius: 30px;
  padding: 15px 48px;
  font-size: 1rem;
}

.btn:hover {
  border-radius: 2px 30px 2px 30px;
  background-color: #D3AB70;
  border-color: #D3AB70;
}

.btn:active {
  border-radius: 2px 30px 2px 30px !important;
  background-color: #D3AB70 !important;
  border-color: #D3AB70 !important;
  outline: 0 !important;
}

.land-text {
  text-align: center;
  color: white;
}

.land-text h1 {
  padding-top: 1rem;
}

.land-text h2 {
  margin-bottom: 2rem;
}

.land {
  padding-top: 250px;
  text-shadow: #474747 3px 5px 2px;
}

.landis-text {
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.3rem;
  width: 70%;
}

hr {
  border-bottom: 1px solid #D3AB70;
}

.bg {
  padding: 2rem;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#060426), to(#3A3676));
  background-image: linear-gradient(to right top, #060426, #3A3676);
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
}

.cardus {
  color: #D3AB70;
  text-align: center;
}

.cardus .txt {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.icon {
  text-align: center;
}

.icon .insideico {
  font-size: 60px;
  color: #D3AB70;
}

.icon p {
  font-size: 1rem;
  font-weight: 100;
}

.container-fluid {
  text-align: center;
  padding: 40px;
  color: #404040;
}

.container-fluid h1 {
  font-size: 2.1rem;
  font-weight: 700;
}

.container-fluid p {
  font-size: 1.2rem;
  width: 60%;
  margin: 20px auto;
}

.ic {
  padding: 40px;
}

.adv {
  height: 100%;
  width: 100%;
}

.advan {
  height: auto;
  width: 100%;
  border-radius: 15px;
}

.custom {
  padding: 30px;
  background-color: #f1f3f7;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #404040;
  font-size: 1rem;
}

.display .card-gray {
  margin-bottom: 10px;
}

.display .card-gray p {
  margin: 0;
}

.display .text {
  padding-top: 20px;
}

@media (max-width: 767px) {
  .display .text {
    text-align: center;
  }
}

.display .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#submit {
  background-color: #A97E3E;
  border: 1px solid #A97E3E;
  color: white;
  width: 100%;
  -webkit-transition: border-radius 300ms;
  transition: border-radius 300ms;
  border-radius: 30px;
  font-size: 1rem;
}

#submit:hover {
  border-radius: 2px 30px 2px 30px;
  background-color: #D3AB70;
  border-color: #D3AB70;
}

.booking {
  padding-bottom: 20px;
}

.input {
  height: 40px;
  background-color: #f1f3f7;
}

.input2 {
  background-color: #f1f3f7;
}

input:hover, .input2:hover {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px #8dccff;
          box-shadow: 0px 0px 10px 0px #8dccff;
}

input:active, .input2:active {
  background-color: white;
}

section h1 {
  padding: 40px;
  color: #404040;
  font-size: 2.1rem;
  font-weight: 700;
}

.wrapper {
  margin: 0px auto;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#060426), to(#3A3676));
  background-image: linear-gradient(to right top, #060426, #3A3676);
  padding: 0;
  width: 100%;
}

.innerfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.8rem;
  text-align: left;
}

.logo > img {
  width: 80%;
  padding: 10px;
}

.innerfooter p {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.innerfooter p a {
  text-decoration: none;
  color: white;
}

.innerfooter p a:hover {
  text-decoration: underline;
  color: #f1c6ad;
}

.carousel {
  width: 100%;
  margin: 2% auto;
}

.carousel .carousel-item {
  height: 650px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: -100px;
  background-position: center;
}

@media (max-width: 767px) {
  .carousel .carousel-item {
    height: 300px;
  }
}

.carousel .carousel-item img {
  padding-top: -200px;
  margin: auto auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.item {
  position: relative;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */